.user-show .avatar-container {
  width: 12em;
  height: 12em;
  padding: 1em;
}

.user-show .avatar-container img {
  width: 10em;
  height: 10em;
}

.user-data {
  padding-top: 3em;
}

.user-data ul {
  list-style: none;
  float: right;
}

.user-data li {
  display: block;
  float: right;
  margin-right: 1em;
}

.avatar-conatiner-sm {
  width: 5em;
  height: 5em;
  padding: 0.5em;
}

.avatar-container-sm img {
  width: 4.5em;
  height: 4.5em;
}

.message .content p {
  font-size: 1.3em;
}
